header {
background-color: #42276F;
color:rgb(255, 255, 255);
display: flex;
}
section{
    background-color: #42276F;
}
.cabecalho-imagem {
    width: 110%;
    background-color:#42276F;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.sobre{
    display: flex;
}
.botao-estudante {
    background-color:#42276F;



}